.van-sku {
  &__goods-name {
    font-size: 15px;
  }
}

.van-button {
  &--warning {
    background-color: #F3A534;
    border: 1px solid #F3A534;
    .van-button__text {
      color: #fff;
      font-size: 17px;
    }
  }
  &--small {
    padding: 0 24px;
  }
}

.van-radio {
  &__input {
    .van-icon {
      &-checked {
        color: #F3A534;
      }
    }
  }
}

.van-popup {
  &.transparent {
    background-color: transparent;
  }
}

.van-switch {
  &--on {
    background-color: #F3A534;
  }
}

.van-goods-action {
  //fixed从父原则，所以z-index要高于nav-bar的z-index:999
  z-index: 1000;
}

.van-dialog {
  &__footer {
    &,
    &--buttons {
      .van-dialog {
        &__confirm {
          &,
          &:active {
            color: #F3A534;
          }
        }
      }
    }
  }
}

.van-image-preview__index {
  color: #000;
}

.van-image-preview__overlay {
  background-color: #fff;
}

.van-cell {
  padding: 14px 15px;
}