$colors: ( 
  29:#292929,
  32:#322c22,
  35:#353838, 
  78:#787878,
  87:#878787,
  98:#989898,
  63:#636464,
  a2:#a2a2a2,
  a5:#a5a5a5,
  f5:#f5a623,
  f3:#f3a534,
  f0:#f05c5c,
  3e:#3e3e3e,
  ea:#ea5151,
  5b:#5bbaff,
  52:#52cf8e,
  c6:#c6c6c6
   );
  $font-size-list:(60);
  $padding-list:(46,61);

//bg-0>background:#000
@include generator-background-color($colors);
//bdc-0>border-color:#000
@include generator-border-color($colors);
//c-0>color:#000
@include generator-color($colors);
//f12
@include generator-font-size($font-size-list);
//pt10>padding-top:10px
//pr10>padding-right:10px
//pb10>padding-bottom:10px
//pl10>padding-left:10px
//px10>padding-left:10px padding-right:10px
//py10>padding-top:10px padding-bottom:10px
@include generator-padding-all($padding-list);
